* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --siena: #A0522D;
  --savia: #87A96B;
  --alabastro: #F5E6D3;
  --oro: #D4A437;
  --rosa: #C47A6D;

  --gris-fondo: #f4f6f8;
  --texto: #333;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--gris-fondo);
  color: var(--texto);
  line-height: 1.6;
  padding-bottom: 50px;
}

h1, h2, h3 {
  font-family: "Playfair Display", Georgia, serif;
  letter-spacing: 0.04em;
  color: var(--siena);
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
}

.btn,
button {
  background-color: var(--siena);
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: 0.2s;
  text-transform: uppercase;
}

.btn:hover,
button:hover {
  background-color: #8f4527;
  transform: translateY(-1px);
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover {
  background-color: #b13e3b;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}

card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 1rem;
}

label {
  font-weight: 600;
  color: var(--siena);
}

.grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 10px;
}

.product-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
