* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5E6D3;
  color: #333;
  line-height: 1.6;
}

:root {
  --siena: #A0522D;
  --salvia: #87A96B;
  --alabastro: #F5E6D3;
  --oro: #D4A437;
  --rosa: #C47A6D;
}


h1, h2, h3 {
  font-family: "Playfair Display", Georgia, serif;
  letter-spacing: 0.05em;
  color: var(--siena);
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.btn {
  background-color: var(--siena);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.btn:hover {
  background-color: #8f4527;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}

label {
  font-weight: 600;
  color: var(--siena);
}
