.catalogo-container {
  padding: 40px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--alabastro);
}

.titulo-seccion {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.4rem;
  color: var(--siena);
  font-family: "Playfair Display", serif;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.card-producto {
  text-decoration: none;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-producto:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card-producto img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}


.card-producto h3 {
  padding: 12px;
  color: var(--siena);
  font-size: 1.25rem;
  text-align: center;
}

.precio {
  padding: 0 12px 16px;
  font-weight: bold;
  color: var(--oro);
  font-size: 1.2rem;
  text-align: center;
}
