.navbar {
  background-color: var(--siena);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  color: var(--oro);
}
